/* Set font for page, font size for scaling, justify
content center enable children elements to wrap as needed rather than
on one line */
.page-wrapper {

  font-family: 'Scope One', serif;
  font-size: 3vh;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.intro {
  margin: 4vh 4vw;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}

.intro::after {
  content: "";
  background-image: url("../Manly.jpg");
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* define nav as flex container */
nav {

  position: fixed;
  background-color: silver;
}
/* remove bullets, margin and padding */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {

  font-size: 1.25vh;
  display: inline-block;

}


h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}

div.summary {
  margin: 4vh 1vw;
  padding: 2vh 15vw;
}

div.blog-summary {
  border-style: dashed;
  margin: 4vh 1vw;
  padding: 2vh 15vw;
}

div.projects-summary {
  border-style: dashed;
  margin: 4vh 1vw;
  padding: 2vh 15vw;
}

div.about-summary {
  border-style: dashed;
  margin: 4vh 1vw;
  padding: 2vh 15vw;
}

div.contact-summary {
  border-style: dashed;
  margin: 4vh 1vw;
  padding: 2vh 15vw;
}

section.info-links div {
  background-color: white;
  margin: 4vh 1vw;
  padding: 2vh 20vw;
}
